* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.main_container {
  scroll-padding-top: 85px;
  background-color: rgb(232, 218, 218);
  scroll-behavior: smooth;
}
#home,
#portfolio2,
#blog3,
#about4,
#contact5 {
  scroll-margin-top: 85px;
}
.header {
  background-color: white;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 55px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 2rem;
}
.logo {
  margin-left: 1rem;
  margin-top: 25px;
}
.logo > img {
  width: 70px;
  height: 30px;
}
.nav {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}
a {
  font-size: large;
  color: rgb(5, 5, 104);
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contact {
  padding-top: 20px;
  display: flex;
  width: 40%;
  justify-content: flex-end;
  margin-right: 10rem;
  align-items: center;
  gap: 15px;
}
select {
  border: 1px solid white;
}
button {
  width: fit-content;
  padding: 10px;
  background-color: rgb(197, 78, 124);
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgb(197, 78, 124) 50%,
    rgb(5, 5, 104)
  );
  background-size: 100% 200%;
  transition: background-position 0.5s;
}

button:hover {
  background-position: 0 100%;
}
.first {
  margin-left: 9rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  height: 80vh;
}
.title {
  margin-top: 12rem;
  width: 50%;
}
.title > h1 {
  color: rgb(29, 29, 146);
  font-size: 3rem;
}

.title > p {
  font-size: 1.2rem;
}
#shape1 {
  margin-top: 120px;
  margin-left: 150px;
  width: 400px;
  height: 300px;
}
.img1 {
  background-image: url(./images/Bg.\ Shape.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 110%;
}
.img0 {
  background-image: url(./images/Bg_shape2.png);
  background-size: inherit;
  background-repeat: no-repeat;
}
.services {
  margin-left: 3rem;
  margin-top: 8rem;
  display: flex;
  justify-content: space-evenly;
}
.title2 > h2 {
  color: rgb(29, 29, 146);
  font-size: 2rem;
}
.box1 {
  border: 1px solid white;
  box-shadow: 5px 5px 5px 5px pink;
  width: 200px;
  height: 250px;
  padding: 15px;
  font-size: larger;
}
.box1:hover {
  transform: scale(1.07);
  box-shadow: 10px 10px 10px;
  color: rgb(197, 78, 124);
}

.about {
  margin-top: 8rem;
  display: flex;
  gap: 5rem;
  margin-left: 5rem;
  margin-right: 8rem;
}
.img2 > img {
  width: 350px;
  height: 300px;
}
.text > h6 {
  color: red;
  font-size: 1rem;
}
.text > h2 {
  color: rgb(29, 29, 146);
  font-size: 2rem;
}
.text > p {
  font-size: 1.2rem;
}
.portfolio {
  margin-top: 8rem;
  background-image: url(./images/Bg._Shape3.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.title3 > h2 {
  margin-left: 10rem;
  color: rgb(29, 29, 146);
  font-size: 2rem;
}
.grid {
  max-width: 70%;
  margin: auto;
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.card {
  border: 1px solid black;
  background-color: cadetblue;
  width: 280px;
  height: 200px;
}
.card > img {
  width: 280px;
  height: 200px;
}
.card:hover {
  transform: scale(0.99);
  box-shadow: 5px 8px 16px 5px grey;
}
.portfolio > center {
  color: red;
  font-weight: bold;
  font-size: large;
}
.blog {
  margin-top: 6rem;
  margin-left: 14rem;
  color: rgb(29, 29, 146);
  background-image: url(./images/Bg_Shape4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 3rem;
}
.blog > h5 {
  color: red;
  font-size: 1rem;
}
.title4 {
  display: flex;
  margin-bottom: 2rem;
  gap: 40rem;
}
.title4 > h2 {
  font-size: 2rem;
}
.news-feed {
  display: flex;
  gap: 10%;
}
#date {
  font-size: x-small;
}
.post1 {
  padding: 10px;
  width: 220px;
  height: 220px;
  border: 1px solid white;
  box-shadow: 3px 3px 3px black;
  color: white;
  background-color: rgb(1, 1, 69);
  font-size: 1.24rem;
}
.post1:hover {
  transform: scale(0.99);
  background-color: rgb(197, 78, 124);
}
.arrow {
  margin-left: 150px;
}
.contact_us {
  margin-left: 13rem;
  margin-top: 3rem;
}
.contact_us > h5 {
  color: red;
  font-size: 1rem;
}
.form > h2 {
  color: rgb(29, 29, 146);
  font-size: 2rem;
}
form input[type="text"] {
  width: 400px;
  padding: 8px;
  color: rgb(46, 46, 141);
  margin-right: 8px;
  margin-bottom: 10px;
  background-color: aliceblue;
}
.form > button {
  margin-left: 400px;
}
footer {
  text-align: center;
  color: white;
  background-color: rgb(1, 1, 69);
}
.links {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.links > a {
  font-size: smaller;
  color: white;
}
footer > p {
  font-size: x-small;
}
footer > h3 {
  color: red;
}
.share {
  display: flex;
  justify-content: center;
  gap: 38px;
}
textarea {
  width: 67%;
  height: 60px;
}

/* media query for max-width:415px */
@media screen and (max-width: 415px) {
  * {
    margin: 0;
    padding: 0;
  }
  .main_container {
    overflow-x: hidden;
    background-color:pink;
  }
  .header {
    background-color: white;
    position: relative;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .logo > img {
    margin-top: 0;
  }

  .nav {
    flex-direction: column;
    padding-top: 0;
  }
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  select {
    margin-bottom: 10px;
  }

  button {
    margin: 5px;
  }
  .first {
    padding-top: 5rem;
    margin: 2rem 0;
    flex-direction: column;
    align-items: center;
  }

  .title {
    width: 80%;
    text-align: center;
    margin-top: 2rem;
  }

  #shape1 {
    margin-top: 2rem;
    margin-left: 0;
    width: 100%;
    height: 300px;
  }
  .img1 {
    width: 100%;
  }
  .services {
    margin-top: 21rem;
    margin-left: 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  .box1 {
    width: 80%;
    margin: 1rem 0;
  }
  .about {
    margin-top: 1rem;
    flex-direction: column;
    margin-left: 5rem;
    width: 70vw;
  }
  .img2 {
    width: 100%;
    height: 100%;
  }
  .img2 > img {
    width: 100%;
    height: 100%;
  }
  .portfolio {
    margin: 2rem 0;
    background-size: contain;
  }

  .title3 > h2 {
    margin-left: 5rem;
    color: rgb(29, 29, 146);
    font-size: 2rem;
  }

  .grid {
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 90%;
    margin: 0 auto;
  }

  .blog {
    margin: 2rem 0;
    background-position: center;
  }

  .arrow {
    margin-top: 0.7rem;
    margin-left: 150px;
  }
  .blog > h5 {
    margin-left: 15%;
  }
  .card > img {
    width: 100%;
    height: 100%;
  }

  .title4 {
    gap: 0;
    justify-content: center;
  }

  .news-feed {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .contact_us {
    margin-left: 2rem;
  }

  .form > button {
    margin-left: 110px;
  }
  form input[type="text"] {
    width: 75%;
    padding: 8px;
  }
  textarea {
    width: 80%;
    height: 40px;
  }
}
